<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Trang chủ</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lichsuck">
              <i class="icon-phone menu-icon"></i>
              <span class="menu-title">Lịch sử chuyển tiền</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/lichsucuocs">
              <i class="icon-phone menu-icon"></i>
              <span class="menu-title">Lịch sử Cuoc</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/managerphone">
              <i class="icon-phone menu-icon"></i>
              <span class="menu-title">Quản lý Số điện thoại</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/spamMomo">
              <i class="icon-phone menu-icon"></i>
              <span class="menu-title">Spam MOMO</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/setting">
              <i class="icon-phone menu-icon"></i>
              <span class="menu-title">Cài đặt</span>
            </a>
          </li>
        

        </ul>
      </nav>